/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;


BJUSSSS...

FOTOS PROANOS - RECIFE
Arquivo compactado

ADRYAN FELIPE NASCIMENTO DE ALBUQUERQUE13:51
entrei em depressão


Aviso: "Requisitos (levantamento, documentação…"
Bruno José de Souza
Criado em: OntemOntem
Requisitos (levantamento, documentação e validação)

engenharia-requisitos-CheckListValidacaoDosRequisitos.xlsx
Excel

modelo documento de requisitos.pdf
PDF

modelo roteiro de entrevista 2.pdf
PDF

Modelo roteiro de entrevista.pdf
PDF


Aviso: "Material para o exercício em sala hj"
Bruno José de Souza
Criado em: 22 de ago.22 de ago.
Material para o exercício em sala hj

Arquivos exercicio.zip
Arquivo compactado


Aviso: "Olá alunos, boa tarde Segue em anexo a…"
JACIRA CARDOSO
Criado em: 18 de ago.18 de ago.
Olá alunos, boa tarde
Segue em anexo a conta da Microsoft que foi criada para vocês.
 A senha de acesso padrão é: Senac+@2022 (deve ser
alterada no primeiro login do aluno)


 


Atenciosamente,

Lista de alunos curso de Java.xlsx
Excel

Liana Vitória de Siqueira Melo Cabral21 de ago.
Consegui!


Aviso: "Prezados, bom dia. Informo que a aula…"
JACIRA CARDOSO
Criado em: 15 de ago.15 de ago.
Prezados, bom dia.
Informo que a aula de Comunicação, amanhã 16/08, será no Piso 03 do prédio administrativo.
Atenciosamente,


Aviso: "Olá meus amores, bom diaaaaa...…"
NIVEA DIAS
Criado em: 15 de ago.15 de ago.
Olá meus amores, bom diaaaaa... 
Passando aqui também para lhes lembrar dos nossos compromissos!!

Beijossssss... azuis!!
Exibindo declaração de concordância.jpeg
declaração de concordância.jpeg

MUDANÇA DE HORÁRIO 2.jpeg
Imagem

TEATRO DE SANTA ISABEL.jpeg
Imagem

Mural
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
reset.css
Exibindo reset.css…